.modal-custom { 
    max-width: 90% !important; 
    height: 80% !important;
}

.modal-content {
    height: 100% !important;
}

iframe {
    width: 100% !important;
    height: 100% !important;
}

.navbar-link {
    color:#FFFAFA;
}
   
.navbar-link:hover {
    color:rgba(155, 154, 154, 0.9);
}

.nav-link-active {
    color: rgba(155, 154, 154, 0.9);
    text-decoration: underline;
    text-decoration-color: 3px solid rgba(155, 154, 154, 0.9);;
}

.dropdown-user {
    border-radius: 50%!important;
    transform: scale(0.6, 1);
    color: #FFFAFA;
}

@media (max-width: 576px) { 
    .btn-music {
        justify-content: flex-end!important;
        flex-grow: 1!important;
    }
 }

 @media (min-width: 576px) { 
    .layout-children {
        margin: 0 auto!important;
        width: 70%!important;
    }
 }